h1 {text-align: center;}

form#type {text-align: center;}

article#action {
	margin: auto;
	width: 600px;
}

article#action #loading {display: none;}
article#action.loading>* {display: none;}
article#action.loading div#loading {display: block !important;}

#ajoutPortail #nom, #ajoutPortail #url {
	width:350px;
}

.center {margin: auto; text-align: center;}

ul.ui-autocomplete li {
	border: 1px solid #000;
	border-bottom: 0px;
	background-color: #FEE;
}
ul.ui-autocomplete li.ui-state-focus {
	background-color: #FAA;
}
ul.ui-autocomplete li:last-child {
	border-bottom: 1px solid #000;
}

#recap {
	margin-bottom: 15px;
}
#recap p#title {
	font-weight: bold;
	margin: 0;
}
#recap #nom, #recap #url {
	margin: 0;
	margin-left: 20px;
}