/***
/* Style general
/***/
h1, h2 {text-align: center;}

html, body {width: 100%; margin: 0; padding: 0;}

div.table {
	display: table;
	margin: auto;
}
div.row {
	display: table-row;
}
div.row>div {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
}

body {
	background-color: #FFFFF7;
	font-family: "Roboto";
}

.center {margin: auto; text-align: center;}
div.centrer {margin: auto;}
/* fin style general */


/**
	STYLE DU MENU
**/

div#menu {
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
	font-family: "Nunito";
}

div#menu div#logo {
	position: absolute;
	left: 0px;
	width: 44px;
	height: 44px;
	margin: 10px;
}

div#menu div#logo img {
	width: 44px;
	height: 44px;
}

div#menu nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#menu nav li {
	display: inline-block;
	cursor: pointer;
	background-color: transparent;
	transition: all 0.2s ease-in-out 0s;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}

div#menu nav li a, nav li a:hover, nav li a:visited {
	color: #000;
	text-decoration: none;
}

div#menu nav li.connect	 {
	position: absolute;
	right: 0px;
}

div#menu nav li:hover {
	text-decoration: underline;
	background-color: #DDE6FF;
}

/**
	FIN : STYLE DU MENU
**/

/**
	STYLE DU HEADER
**/
div#header {
	margin-top: 100px;
}
div#header h1, div#header h3 {
	text-align: center;
}

/**
	FIN : STYLE DU HEADER
**/

/**
	STYLE DU WRAP
**/
div#wrap {
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
	width: 900px;
	background-color: #FFF;
	padding: 25px;
	margin-bottom: 50px;
}
/**
	FIN : STYLE DU WRAP
**/


/***
/* Style pour le formulaire
/***/

input.erreur {
	border: 1px solid red;
}

/* fin style pour le formulaire */




/***
/* Style pour la creation de carte
/***/

.clickable:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

form#type {text-align: center;}
div.form div.centrer {
	width: 600px;
}

article#action #loading {display: none;}
article#action.loading>* {display: none;}
article#action.loading div#loading {display: block !important;}

#ajoutPortail #nom, #ajoutPortail #url {
	width:350px;
}

ul.ui-autocomplete li {
	border: 1px solid #000;
	border-bottom: 0px;
	background-color: #FEE;
}
ul.ui-autocomplete li.ui-state-focus {
	background-color: #FAA;
}
ul.ui-autocomplete li:last-child {
	border-bottom: 1px solid #000;
}

#recap {
	margin-bottom: 15px;
}
#recap p#title {
	font-weight: bold;
	margin: 0;
}
#recap #nom, #recap #url {
	margin: 0;
	margin-left: 20px;
}

p.button.center {
	padding-top: 20px;
}
p.button button {

}

/* fin style pour la creation de carte */

/***
/* Style pour le viewer
/***/

div#top {
	height: 25px;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 50000;
	top: 100%;
	text-align: center;
	margin-top: -25px;
	transition: all 0.42s ease-in-out 0s;
}

div#top #lecteur {
	display: inline-block;
	opacity: 0.7;
	height: 25px;
	text-align: center;
	background-color: #000;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding-right: 25px;
	padding-left: 25px;
	transition: all 0.42s ease-in-out 0s;
}

div#top #lecteur a {
	color:#FFF;
	font-size: 20px;
	transition: all 0.42s ease-in-out 0s;
}

div#top:hover #lecteur {
	margin-top: -50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	padding-right: 50px;
	padding-left: 50px;
}

div#top:hover #lecteur {
	opacity: 1;
	height: 50px;
}

div#top #lecteur:hover a {
	color:#FFF;
	font-size: 40px;
}

div#top>#lecteur>div {
	display: inline-block;
	margin: 0;
	padding: 0;
}

div#top #licence {
	text-align: center;
	cursor: pointer;
}

div#top #licence span:hover {
	text-decoration: underline;
}


div, p {
	font-family: Verdana, Arial, sans-serif;
}

p.content {
	font-size: 12px;
	width: 30em;
}

div#help {
	font-size: 12px;
	width: 45em;
	padding: 1em;
}

div#timemap {}

div#timelinecontainer{
	width: 100%;
	height: 250px;
}

div#timeline{
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: #CCCCCC;
}

div#mapcontainer {
	width: 100%;
	height: 400px;
}

div#map {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}

div.infotitle {
	font-size: 14px;
	font-weight: bold;
}
div.infodescription {
	font-size: 14px;
	font-style: italic;
}

div.custominfostyle {
	font-family: Georgia, Garamond, serif;
	font-size: 1.5em;
	font-style: italic;
	width: 20em;
}

#action #loading {display: none;}
#action.loading #loading {display: block;}
#action.loading #timemap, #action.liste #timemap {display: none;}
#action.tm #timemap {display: block;}
#action.loading #liste, #action.tm #liste {display: none;}
#action.liste #liste {display: block;}

#liste {
	width: 450px;
	margin: auto;
}

#liste li:hover {cursor: pointer; text-decoration: underline;}


/* POP UP */

#cover{
	position:fixed;
	top:0; left:0;
	background:rgba(0,0,0,0.7);
	z-index:50;
	width:100%;
	height:100%;
	display:none;
}

#viewSource {
	height:80%;
	width:60%;
	margin:0 auto;
	position:absolute;
	top:10%;
	left:10%;
	z-index:55;
	display:none;
	border:5px solid #cccccc;
	border-radius:10px;
	padding: 25px;
	background-color: rgb(245,245,245);
	overflow: auto;
}

#viewSource #fermer {
	display:block;
	position:absolute;
	top:3px;
	right:2px;
	background:rgb(245,245,245);
	color:black;
	height:30px;
	width:35px;
	font-size:30px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
}

#viewSource:target, #viewSource:target + #cover{ display:block; opacity:2; }

/* fin style pour le viewer */