/***
/* Style general
/***/
h1, h2, h3 {text-align: center;}

html, body {width: 100%; margin: 0; padding: 0;}
.center {margin: auto; text-align: center;}

div#wrap, div#menu {
	margin: auto;
	width: 600px;
}

div.talbe {
	display: table;
}
div.row {
	display: table-row;
}
div.row>div {
	display: table-cell;
}
/* fin style general */


/***
/* Style pour le menu
/***/
div#menu {
	margin: auto;
	width: 1000px;
	text-align: center;
}

div#menu ul {
	margin: 0;
	padding: 0;
}

div#menu ul li {
	list-style: none;
	display: inline-block;
	padding: 5px 5px;
	background-color: #999;
	color: #FFF;
	border: 1px solid #000;
}

div#menu ul li:hover {
	background-color: #FFF;
	color: #000;
}

div#menu ul li a {
	color: inherit;
}
/* fin style le menu */




/***
/* Style pour unregistered
/***/

/* fin style unregistered */




/***
/* Style pour edit et perso
/***/

form#type {text-align: center;}

article#action {
	margin: auto;
	width: 600px;
}

article#action #loading {display: none;}
article#action.loading>* {display: none;}
article#action.loading div#loading {display: block !important;}

#ajoutPortail #nom, #ajoutPortail #url {
	width:350px;
}

.center {margin: auto; text-align: center;}

ul.ui-autocomplete li {
	border: 1px solid #000;
	border-bottom: 0px;
	background-color: #FEE;
}
ul.ui-autocomplete li.ui-state-focus {
	background-color: #FAA;
}
ul.ui-autocomplete li:last-child {
	border-bottom: 1px solid #000;
}

#recap {
	margin-bottom: 15px;
}
#recap p#title {
	font-weight: bold;
	margin: 0;
}
#recap #nom, #recap #url {
	margin: 0;
	margin-left: 20px;
}

/* fin style pour edit et perso */

/***
/* Style pour le viewer
/***/

#viewer div#wrap, article#action.viewer {
	width: 100%;
}

div, p {
	font-family: Verdana, Arial, sans-serif;
}

p.content {
	font-size: 12px;
	width: 30em;
}

div#help {
	font-size: 12px;
	width: 45em;
	padding: 1em;
}

div#timemap {}

div#timemap #top {
	height: 25px;
	margin: 0;
	padding: 0;
}

div#timemap #top div {
	display: inline-block;
	margin: 0;
	padding: 0;
}

div#timemap #top #licence {
	width: 80px;
	text-align: center;
	cursor: pointer;
}

div#timemap #top #licence span:hover {
	text-decoration: underline;
}

div#timelinecontainer{
	width: 100%;
	height: 250px;
}

div#timeline{
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: #CCCCCC;
}

div#mapcontainer {
	width: 100%;
	height: 400px;
}

div#map {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}

div.infotitle {
	font-size: 14px;
	font-weight: bold;
}
div.infodescription {
	font-size: 14px;
	font-style: italic;
}

div.custominfostyle {
	font-family: Georgia, Garamond, serif;
	font-size: 1.5em;
	font-style: italic;
	width: 20em;
}

#action #loading {display: none;}
#action.loading #loading {display: block;}
#action.loading #timemap, #action.liste #timemap {display: none;}
#action.tm #timemap {display: block;}
#action.loading #liste, #action.tm #liste {display: none;}
#action.liste #liste {display: block;}

#liste {
	width: 450px;
	margin: auto;
}

#liste li:hover {cursor: pointer; text-decoration: underline;}


/* POP UP */

#cover{
	position:fixed;
	top:0; left:0;
	background:rgba(0,0,0,0.7);
	z-index:50;
	width:100%;
	height:100%;
	display:none;
}

#viewSource {
	height:80%;
	width:60%;
	margin:0 auto;
	position:absolute;
	top:10%;
	left:10%;
	z-index:55;
	display:none;
	border:5px solid #cccccc;
	border-radius:10px;
	padding: 25px;
	background-color: rgb(245,245,245);
	overflow: auto;
}

#viewSource #fermer {
	display:block;
	position:absolute;
	top:3px;
	right:2px;
	background:rgb(245,245,245);
	color:black;
	height:30px;
	width:35px;
	font-size:30px;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
}

#viewSource:target, #viewSource:target + #cover{ display:block; opacity:2; }

/* fin style pour le viewer */